# Virtual Environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Python distribution files
*.egg-info/
dist/
build/